{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<div class="alert alert-light text-center" role="alert">
    <p class="alert-titel">{{destination.name}}</p>
    <p class="alert-destination">{{destination.description}}</p>
    <p class="alert-activities">{{destination.activities}}</p>
    <p><img src="{{destination.pretty_picture.url}}"></p>
    <p class="alert-optimal" >{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}" class="btn">
       Update <i class="far fa-edit"></i>
    </a>
    <a href="{% url 'destination-delete' destination.id %}" class="btn">
       Delete <i class="fas fa-eraser"></i>
    </a>
    </div>
{% endblock content %}